@model WebApp2.Models.Account.UserAccount


@Html.HiddenFor(Model => Model.UserDetailId);

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div>
            @Html.ActionLink("Back to Manager Users", "ManageAccounts", "Account")
            <div id="message_div" style="display:inline;float:right;display:none;">
                <img src="~/Content/Icons/success.png" style="height:18px;" />
                <span id="message">Message</span>
            </div>
        </div>
        <hr class="margin_bottom_none" />
        <strong>Required Fields: Need this for access to the web site.</strong>
        <hr class="margin_top_none" />
        <div class="row margin_bottom_small">
            <div class="form-group col-xs-6 margin_bottom_small">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger static_error" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6 margin_bottom_small">
                @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger static_error" })
                <span class="pssword_match_error text-danger static_error"></span>
            </div>

            <div class="form-group col-xs-6 margin_bottom_small">
                @Html.LabelFor(model => model.PassWordConfirm, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PassWordConfirm, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.PassWordConfirm, "", new { @class = "text-danger static_error pssword_confirm_error" })
            </div>
        </div>

        <hr class="margin_bottom_none margin_top_none" />
        <strong>Optional Fields: Personal Information</strong>
        <hr class="margin_top_none" />

        <div class="row">
            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger static_error" })
            </div>

            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger static_error" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control small_inp_box" } })
                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger static_error" })
            </div>

            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control small_inp_box phone_number" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger static_error" })
            </div>
        </div>
        <div class="row">

            <div class="form-group col-xs-6">
                <label class="control-label">Notification Types</label>
                <div class="form-group " style="margin-top:5px;">
                    <div class="col-xs-6">
                        @Html.CheckBoxFor(m => m.PrefEmail, new { @checked = "true", @class = "" })
                        @Html.LabelFor(model => model.PrefEmail, htmlAttributes: new { @class = "control-label margin_left_vsmall" })
                    </div>
                    <div class="col-xs-6">
                        @Html.CheckBoxFor(m => m.PrefText, new { @checked = "checked" })
                        @Html.LabelFor(model => model.PrefText, htmlAttributes: new { @class = "control-label margin_left_vsmall" })
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

